.qqqqq{background-color: brown; width: 150%;}
.wwww{background-image: url(2.jpg);height: 200px;} 
.wwww{color: aliceblue;}
.blllk{background-color: rgb(29, 81, 195);}
.yyttyy{background-color: aqua;}
.qwqw{background-color: rgb(226, 178, 194); width: 50%;}

.yuyuy{background-color: aqua;}
.lklll{background-color: rgb(29, 100, 166);}
.rzzr{background-color: rgb(89, 92, 94);}
.yttt{background-color: rgb(89, 92, 94);}
.cfccf{background-color: rgb(29, 100, 166);}
.pppooo{background-color: rgb(29, 100, 166);}
h1{color: rgb(0, 0, 0);}
h2{color: rgb(17, 68, 209);}
.ttrrrt{color: rgb(23, 211, 73);}
.wwee{color: rgb(38, 241, 99);}
.rere{color: rgb(233, 166, 84);}
.oioi{color: rgb(230, 54, 54);}
.mmmm{background-color: brown; width: 150%;}